@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Styles for the social navbar */
.social-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
  padding: 2px 35px 2px 20px;
}

.logo-container {
  display: flex;
  align-items: center;

 
}

.logo-container img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.social-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  
  /* background-color: red; */
  padding: 5px;


}

.social-links li {
  margin-left: 30px;

}

.social-links li:first-child {
  margin-left: 0;
}

.social-links a {
  color: #53BBEF;
  text-decoration: none;
  font-size: 15px; 
}

.social-links a:hover{
  color: #2E4D89;
}

.social-links a  i{
border-radius: 50%;
}


/* Styles for the navigation links navbar */
.nav-links-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #53BBEF;
  padding: 10px;
  font-family: 'Roboto Slab', serif;
}

.nav-links-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links-navbar li {
  margin-right: 20px;
}

.nav-links-navbar li:last-child {
  margin-right: 0;
}

.nav-links-navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.nav-links-navbar a:hover {
  color: #2E4D89;
}
